<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Bank Analysis - Upload</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Bank Analysis</h1>

    <p>
      From a bank transaction export, we want to generate insights from salary to salary:
      <br/>

          - Total salaries received.<br/>
          - Total expenses.<br/>
          - Total savings for the period.<br/>
          - Total savings compared to your theoretical average salary (i.e., excluding on-call bonuses, exceptional increases, etc.).<br/>
          - Number of expenses per period.<br/>
          - Averages, with an option to exclude outliers (such as negative months or months with exceptional circumstances).<br/>
          - Advanced mode that provides a detailed breakdown for each period by expense category, including both the total amount and the number of transactions per category.<br/>
        <br/>
        Your personal data is not being stored, and it is processed locally here.
    </p>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for m in messages %}<li>{{ m }}</li>{% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="{{ url_for('analyze') }}" method="post" enctype="multipart/form-data">
      <label>Upload CSV file (columns: <br/>
        - dateOp<br/>
        - category<br/>
        - categoryParent<br/>
        - amount<br/>
        No matter the order but these should be the names):</label>
      <input type="file" name="file" accept=".csv,.txt">

      <p>Or paste CSV content here:</p>
      <textarea name="csv_text" rows="10" cols="80" placeholder="columns: dateOp;category;categoryParent;amount; No matter the order but these should be the names and you can have more columns"></textarea>

      <p><button type="submit">Analyze</button></p>
    </form>
  </div>
</body>
</html>